* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: "Stack Sans Headline", sans-serif;
  background: #0e0e0e;
  color: rgb(255, 255, 255);
}

html::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
}
