/* ========================================
   NAVBAR
======================================== */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 9999;
  pointer-events: none;
  background: #0e0e0e;
}

/* biar link tetap bisa diklik */

.nav-left,
.nav-center,
.nav-right {
  pointer-events: auto;
}

/* ========================================
   LINKS
======================================== */

.navbar a,
.contact-btn {
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease;
}



/* ========================================
   CENTER MENU
======================================== */

.nav-center {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* active page */

.navbar .active {
  opacity: 0.5;
}


/* ========================================
   CONTACT DROPDOWN
======================================== */

.nav-right {
  position: relative;
}

.contact-dropdown {
  position: absolute;
  background: #0e0e0e;
  top: 2rem;
  padding: 0.75rem 1rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.75rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;
}

/* show dropdown */

.nav-right:hover .contact-dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* dropdown links */
.contact-dropdown a {
  white-space: nowrap;
}

/* ========================================
   MOBILE
======================================== */

@media (max-width: 768px) {

  .navbar {
    padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  }

  .nav-center {
    gap: 1rem;
  }

  .navbar a,
  .contact-btn {
    font-size: 0.75rem;
  }

  .contact-dropdown {
    gap: 0.5rem;
  }
}